<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for link in links %}
    <url>
        <loc>{{ link }}</loc>
        <lastmod>2017-01-01</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.5</priority>
    </url>
    {% endfor %}
</urlset>